@media (max-width: 986px) {
    .containerCountrys {
        justify-content: center;
    }

    .country {
        margin: auto;
    }

    .attribution{
        position:absolute;
        top:0px;
        left:0px;
    }
}


@media (max-width: 667px) {
    .containerCountrys {
        justify-content: center;
    }

    .attribution{
        position:absolute;
        top:0px;
        left:0px;
    }
}